#navbar{
    text-align: center;
    vertical-align: middle;
}

#columns{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: white;
}

h3{
    color: white;
}

html{
    background: #00CC00
}
#appListing{
    width: 43%;
    display: inline-block;
    float: left;
    align-content: center;
    margin-top: 20px;
    margin: 10;
    padding: 10px;
    background-color: #A3FF85;
    
}

#app_icon{
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px
}

#app_title{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#app_info{
}

#github_link{
    float: right;
}

